
* { margin: 0;
    padding:0;
    font-size: 20px;
}

h1{
    font-family: sans-serif;
    color: #34A58A;
    text-align: center;
    padding: 3rem 0;
    font-size: 3rem;
    font-weight: bold;
}

h2{
    font-family: Montserrat;
    color: #345765;
    padding:2rem 2rem;
    font-size: 2rem;
    text-decoration: underline;
    font-weight: bold;
}

nav ul li{
    margin: 0 3rem;
}

li a:hover {
    background-color: #34A58A;
    padding: 10px;
    margin-left: 30px;


}

a{
    font-family: Lato;
    color: #1d343d;
    padding:2rem 2rem;
    font-size: 1rem;
    text-decoration: none;
}